<div id="directions-panel"></div>
<head>
  <style>
    body {
      margin-left: 10px;
      margin-right: 10px; 
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand navbar-light bg-white navbar-bordered">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img src="/assets/toilet.png" alt="" width="30" height="24" [routerLink]="['/']">
      </a>
      <span class="navbar-brand mb-0 h1" [routerLink]="['/']">TOILET FINDER</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active font-weight-bold text-decoration-underline" aria-current="page" [routerLink]="['/login']">Add A Toilet/Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <input id="pac-input" class="controls search-box" type="text" placeholder="Search Location">  
    <div id="map"></div> 
<div class="joke-box" *ngIf="jokeBoxSeen">
  <button class="close-button" (click)="closeJokeBox()">X</button>
  <p><strong>Q:</strong> {{ jokeQuestion }}</p>
  <p><strong>A:</strong> {{ jokeAnswer }}</p>
</div>

  